.wrapper-popover {
    position: absolute;
    top: 30px;
    background: #ffffff;
    padding: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    width: max-content;
}